/** General Styles **/
/*
@Autor: JFHR
@Company: 
@fecha:  2019-01-17
@update:  2019-01-17
@Comentario: Versiones del módulo
* Estilos del módulo, en especial de las viñetas del arbol
*/
.glyphicon-link:before{
    position: relative;
    content: "\f0c1";
    font-size: 15px;
    top: -2px;
    font-family: FontAwesome;
    left: -6px;
    padding-left: 22px;
}
